In [1]:
import pandas as pd
from datetime import timedelta,datetime

In [2]:
df = pd.read_csv("order_brush_order.csv")
df.head()

          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

In [12]:
df.shape

(222750, 4)

In [5]:
df.tail()

               orderid     shopid     userid           event_time
222745  31245479170194  110868129  193218997  2019-12-28 23:17:59
222746  31230440360374   91639906    3541807  2019-12-28 19:07:20
222747  31191471145838   29391773  135908070  2019-12-28 08:17:52
222748  31198471732255   61556313   27306783  2019-12-28 10:14:31
222749  31164356713822  147941492  127484153  2019-12-28 00:45:56

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222750 entries, 0 to 222749
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   orderid     222750 non-null  int64
 1   shopid      222750 non-null  int64
 2   userid      222750 non-null  int64
 3   event_time  222750 non-null  object
dtypes: int64(3), object(1)
memory usage: 6.8+ MB

In [6]:
df['event_time'] = pd.to_datetime(df['event_time'],format='%Y-%m-%d %H:%M:%S')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222750 entries, 0 to 222749
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   orderid     222750 non-null  int64
 1   shopid      222750 non-null  int64
 2   userid      222750 non-null  int64
 3   event_time  222750 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 6.8 MB

In [10]:
shopid = df.shopid.unique()

In [15]:
shopid0 = df[df.shopid==shopid[0]].sort_values(by='event_time')
display(shopid0.head())

In [27]:
from datetime import timedelta
print(shopid0.iloc[0].event_time)
print(shopid0.iloc[0].event_time+timedelta(hours=1))
start = shopid0.iloc[0].event_time
end = start + timedelta(hours=1)
period0 = shopid0[(start<=shopid0.event_time)&(shopid0.event_time<=end)]
display(period0.head())
print(len(period0)/period0.userid.nunique())

2019-12-27 00:23:03
2019-12-27 01:23:03

               orderid    shopid    userid          event_time
0       31076582227611  93950878  30530270 2019-12-27 00:23:03
151368  31078565549911  93950878  76581354 2019-12-27 00:56:05

1.0

In [86]:
181009364

181009364

In [87]:
shopid0 = df[df.shopid==181009364].sort_values(by='event_time')
shopid0.reset_index(inplace=True)
display(shopid0.head())
i = 0
brushing_periods = 0
brushing_users = {}
while i<shopid0.shape[0]:
    
    start = shopid0.event_time[i]
    end = start + timedelta(hours=1)
    
    period0 = shopid0[(start<=shopid0.event_time)&(shopid0.event_time<=end)]    
    brushing_period = len(period0)
    unique_user = period0.userid.nunique()
    if brushing_period/unique_user>=3:
        print(start,end)
        print("brushing")
        display(period0)
        brushing_periods+=brushing_period
        d = period0.userid.value_counts().to_dict()
        for k in d:
            if k in brushing_users:
                brushing_users[k]+=d[k]
            else:
                brushing_users[k] = d[k]
    i = period0.index[-1] +1
print(brushing_users)
print(brushing_periods)
userid = []
if brushing_periods>0:
    k = sorted(brushing_users,key=lambda x:brushing_users[x],reverse=True)
    userid = [k[0]]
    for i in range(1,len(k)):
        if brushing_users[k[i]] == brushing_users[k[0]]:
            userid.append(k[i])
print(userid)
print("&".join(map(str,userid)))

    index         orderid     shopid     userid          event_time
0   73106  31076433523765  181009364  214208720 2019-12-27 00:20:33
1  115420  31077003494175  181009364  214208720 2019-12-27 00:30:03
2    9891  31078405144719  181009364  214208720 2019-12-27 00:53:26
3  169569  31167197128282  181009364   27847950 2019-12-28 01:33:18
4  155018  31200690834058  181009364  214515524 2019-12-28 10:51:30

2019-12-27 00:20:33 2019-12-27 01:20:33
brushing

    index         orderid     shopid     userid          event_time
0   73106  31076433523765  181009364  214208720 2019-12-27 00:20:33
1  115420  31077003494175  181009364  214208720 2019-12-27 00:30:03
2    9891  31078405144719  181009364  214208720 2019-12-27 00:53:26

2019-12-29 13:54:31 2019-12-29 14:54:31
brushing

    index         orderid     shopid     userid          event_time
7   36584  31298070356347  181009364  101832161 2019-12-29 13:54:31
8  136504  31298092385907  181009364  101832161 2019-12-29 13:54:52
9  123695  31298150262970  181009364  101832161 2019-12-29 13:55:51

{214208720: 3, 101832161: 3}
6
[214208720, 101832161]
214208720&101832161

1.0